<div id="title">TODO List</div>
<div style="float:right;"><a href="/logout/">Logout</a></div>
<style>
table, th, td {
   border: 1px solid black;
}
</style>
<a href="{% url 'item_create' %}">Create new item</a><br>
<a href="{% url 'index' %}">Show all tasks</a>
<a href="{% url 'list_pending' %}">Hide completed tasks</a>
<table>
{% for item in items %}
<tr>
<td>{{ item.item_name }}</td>
<td>{{ item.item_desc }}</td>
<td>{% if item.is_done %}V{% else %}X{% endif %}</td>
<td><a href="{% url 'item_update' item.id %}">Edit</a></td>
<td><a href="{% url 'item_change_status' item.id %}">
{% if item.is_done %}
Mark as pending
{% else %}
Mark as done
{% endif %}
</a></td>
<td><a href="{% url 'item_delete' item.id %}">Delete</a></td>
</tr>
{% endfor %}
</table>
